<button style="position: fixed;">Random Flag Backround!</button>
 


<div class="container-lg">
   <h1 id="docLink"> <a href="/docs/docs">Documentation</a></h1>
    <div class="row row-cols-6">
        {{# each flagInfo}}


        <div class="col mx-auto border" id="flagBox" style="margin: 1rem;">
            <img src="/{{this.country}}/region/{{this.quickLink}}" class="img-fluid" alt="Responsive image">
            <p>Country: {{this.country}}</p>
            <p>Region: {{this.region}}</p>
         
              <a class="badge badge-primary text-wrap" style="width: 6rem;" href="/{{this.country}}/region/{{this.quickLink}}">
                    Direct Link</a>
                     <a class="badge badge-primary text-wrap" style="width: 6rem;" href="/api/{{this.country}}/{{this.region}}">
                   API JSON</a>

        </div>

        <div class="col">
        </div>

        {{/each}}
    </div>
</div>


