<div class="container-fluid">
  <div class="row row-cols-2">
    {{# each flagInfo}}


    <div class="container mx-auto border" id="flagBox" style="margin: .5rem;">
      <a href="/{{this.country}}/region/{{this.quickLink}}"> <img
          src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
          data-src="/{{this.country}}/region/{{this.quickLink}}" class="lazyload" width="300"
          alt="flag of {{this.region}}"></a>
      <div class="col align-self-end">
        <p>Country: {{this.country}}</p>
        <p>Flag <of class="0"></of>: {{this.region}}</p>
        <p>ISO 3166: {{this.ISO3166-2}}</p>

        <a href='/{{this.country}}/region/{{this.quickLink}}'>
          <button class="btn btn-outline-success" href='/{{this.country}}/region/{{this.quickLink}}' type="button"
            style="width: 31rem; height: 2rem;">
            Direct Link
          </button>
        </a>
        <a href="/api/json/flagInfo/{{this.country}}/{{this.region}}">
          <button class="btn btn-outline-success" type="button" style="width: 31rem; height: 2rem;">
            API JSON
          </button>
        </a>
      </div>
    </div>
    {{/each}}
  </div>
</div>