
    <div class="container-lg">
        <a href="/api">api</a>
  <div class="row row-cols-5">
        {{# each fileName}}


    <div class="col"><img src="/{{this.country}}/region/{{this.link}}" class="img-fluid" alt="Responsive image">
   <a href="/{{this.country}}/region/{{this.link}}">Link</a> 
   <p>Country: {{this.country}}</p>
   <p>Region: {{this.region}}</p>
   <p>direct link: <a href="http://localhost:4444/{{this.country}}/region/{{this.link}}"> http://localhost:4444/{{this.country}}/region/{{this.link}}</a> {{this.link2}}</p>
  
</div>

        <div class="col">
</div>

        {{/each}}
  </div>
</div>