<h1>Ask a questiong to Open Flags API</h1>
<form method="POST" action="/newfaq">
    <div class="form-group">
        <label for="exampleFormControlSelect2">Are You a...</label>
        <select multiple class="form-control" id="exampleFormControlSelect2" name="person">
            <option>Developer</option>
            <option>Flag Enthusiest</option>
            <option>History Enthusiest</option>
            <option>Crazy Person</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="message"></textarea>
    </div>
    <div class="form-group col-md-4">
        <label for="inputState">Type</label>
        <select id="inputState" class="form-control" name="type">
            <option selected>What do you call this message?</option>
            <option value="Question">Question</option>
            <option value="Suggestion">Suggestion</option>
            <option value="Comment">Comment</option>
        </select>
    </div>

    </div>

    <button type="submit" class="btn btn-primary">Ask</button>
</form>
<h1>faqs</h1>
<div class="container-fluid">
    <div class="row row-cols-3">
        {{# each faq}}


        <div class="card col mx-auto mb-3" style="max-width: 18rem;">
            <div class="card-header">{{this.person}}</div>
            <div class="card-body">
          <h5 class="card-title">⟰{{this.vote}}⟱</h5>
                <h5 class="card-title">{{this.type}}</h5>
                <p class="card-text">{{this.message}}</p>
<hr>
<h5>Open Flags Team:</h5>
{{this.reply}}
            </div>
        </div>
            {{/each}}
        </div>
    </div>